h4{
  text-align: center;
}
th{
  background-color:#01545a;
  color:white;
  border-bottom: black;
}
table{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 5px 2px rgba(0, 0, 0, 0.19);
}

tr:hover{
  background-image: linear-gradient(#daa332 10%, #fbbf45 40%, #daa332 80%);
}

#ver{
  background-color: #aad962;
  color: black;
  border: solid 1px black;
}

#ver:hover{
  background-color: #03c383;
}

#drop{
  background-color:#08262f;
  color:white;
}
#drop:hover{
  background-color:#286ea5;
  color:white;
  border: solid 1px #0c9656;
}

#cliente{
  background-color:#E98A5B;
  color:black;
}
#cliente:hover{
  background-color:#F16C29;
  border: solid 1px black;
}

#opciones{
  background-color:#08262f;
  color: white;
}
#opciones:hover{
  background-image: linear-gradient(#08262f 80%, #205767 80%);
  color: #1adacc;
  border: solid 1px #079f73;
}
#boton_1{
  background-color:#01545a;
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-left: solid 2px #1e2217;
}
#boton_1:hover{
  background-image: linear-gradient(#5a0127 80%, #8d174a 80%);
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-left: solid 2px #1e2217;
  width: 150px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
#boton_2{
  background-color:#017351;
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
}
#boton_2:hover{
  background-image: linear-gradient(#610688 80%, #8411b6 80%);
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-left: solid 2px #1e2217;
  width: 110px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
#boton_3{
  background-color:#03c383;
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
}
#boton_3:hover{
  background-image: linear-gradient(#1d624b 80%, #0e4231 80%);
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-left: solid 2px #1e2217;
  width: 180px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
#boton_4{
  background-color:#aad962;
  color:black;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-right: solid 2px #1e2217;
}
#boton_4:hover{
  background-image: linear-gradient(#5b7c28 80%, #446116 80%);
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-left: solid 2px #1e2217;
  width: 130px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

#boton_5{
  background-color:#a4cead;
  color:black;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-right: solid 2px #1e2217;
}
#boton_5:hover{
  background-image: linear-gradient(#6FB47E 80%, #64996F 80%);
  color:black;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-left: solid 2px #1e2217;
  width: 130px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
#boton_6{
  background-color:#443d55;
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-right: solid 2px #1e2217;
}
#boton_6:hover{
  background-image: linear-gradient(#372F49 80%, #1F1A29 80%);
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-left: solid 2px #1e2217;
  width: 180px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
#boton_7{
  background-color:#001122;
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-right: solid 2px #1e2217;
}
#boton_7:hover{
  background-image: linear-gradient(#073463 80%, #154980 80%);
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-left: solid 2px #1e2217;
  width: 190px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
#boton_8{
  background-color:#112c22;
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-right: solid 2px #1e2217;
}
#boton_8:hover{
  background-image: linear-gradient(#144332 80%, #0E714D 80%);
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-left: solid 2px #1e2217;
  width: 170px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
#boton_9{
  background-color:#c1b1c1;
  color:black;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-right: solid 2px #1e2217;
}
#boton_9:hover{
  background-image: linear-gradient(#B994B9 80%, #957095 80%);
  color:white;
  border-top: solid 2px #1e2217;
  border-bottom: solid 2px #1e2217;
  border-left: solid 2px #1e2217;
  width: 170px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}



#crear{
  background-color:#6e7700;
  color:white;
}
#crear:hover{
  background-color:#5A6110;
  color:white;
}

#ruta{
  background-color:#44ba97;
  color:black;
}
#ruta:hover{
  background-color:#359276;
  color:white;
}
#finalizada{
  background-color:#db0e00;
  color:white;
}
#finalizada:hover{
  background-color:#941108;
  color:white;
}
#en_ruta{
  background-color:#ff9977;
  color: black;
}
#en_ruta:hover{
  background-color:#F37246;
  color: black;
  border: solid 1px solid;
}
#finalizadas{
  background-color:#331a00;
  color:white;
}
#finalizadas:hover{
  background-color:#58340E;
  color:white;
}

#camion{
  background-color:#08262f;
  color: white;
}
#camion:hover{
  background-color:#02151B;
  color: white;
}
